.footerContainer{
  width: 100%;
  margin: 0 auto;
  padding-top: 50px;
  padding-right: 100px;
  padding-left: 100px;
  padding-bottom: 20px;
}

.footerContainer .footerCopyRight{
  text-align: center;
  color: #999;
  font-size: 12px;
  padding-top: 30px;
}

@media screen and (max-width: 1199px){
.footerContainer {
    width: 100%;
    margin: 0;
}
}